<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multi-language Index</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="#{welcome.message}">Welcome!</h1>
    <p th:text="#{description.message}">This is a multi-language example using Thymeleaf and Bootstrap.</p>
    <div class="btn-group" role="group">
        <a class="navbar-link" th:classappend="${#locale.language == 'en'? 'btn btn-primary' : 'btn btn-secondary' }" th:href="@{''(lang='en')}" th:text="#{langauge.en}">English</a>
        <a class="navbar-link" th:classappend="${#locale.language == 'es'? 'btn btn-primary' : 'btn btn-secondary' }" th:href="@{''(lang='es')}" th:text="#{langauge.es}">Castellano</a>
    </div>
</div>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>